.flex-col {
  display: flex;
  flex-direction: column;
  padding: 0px 8px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.user-media {
  margin-top: 32px;
}

.user-info {
  margin: 0px -8px;
  img {
    border-radius: 50%;
  }
}
.item2 {
  margin-left: 16px;
  flex-basis: 550px;
  padding-right: 128px;
  h1 {
    margin-bottom: 0;
    font-size: 2rem;
  }
  h2 {
    margin-bottom: -5px;
    font-size: 1rem;
  }
  h5 {
    color: #999999;
  }
}
.item3 {
  flex-basis: 400px;
}

.more-button {
  margin-top: 16px;
  margin-right: 16px;
}
a {
  text-decoration: none;
  color: #3f51b5;
}

h3 {
  margin-left: 16px;
  font-weight: normal;
  font-size: 1rem;
  color: #777777;
}

.verification {
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  text-indent: 110%;
  overflow: hidden;
  color: transparent;
  background-image: url("/assets/verification.png");
  font-size: 1.4rem;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  margin: 28px 0 0 -8px;
  &__post {
    width: 150px;
    height: 150px;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin: 8px;
    border-radius: 6px;
    img {
      width: 100%;
    }
  }
}
.mat-icon {
  font-size: 18px;
  width: 24px;
  height: 18px;
  margin-top: -3px;
}

.mat-button-toggle-group {
  margin-right: 24px;
}


