<ng-container *ngIf="postPage$ | async as post">
  <div *ngIf="post.data.shortcode" class="col">


    <div class="row">
      <div class="start space-right">
        <ng-container *ngIf="post.data.edge_sidecar_to_children; else singleCard">

          <div class="carousel">
            <owl-carousel-o [options]="customOptions">
              <ng-container *ngFor="let slide of post.data.edge_sidecar_to_children.edges">
                <ng-container *ngIf="!slide.node.is_video">
                  <ng-template carouselSlide [width]="480">
                    <img [src]="slide.node.display_url">
                  </ng-template>
                </ng-container>

                <ng-container *ngIf="slide.node.is_video">
                  <ng-template carouselSlide [width]="480">
                    <video controls="controls" poster="{{slide.node.display_url}}" preload="none" width="480">
                      <source src="{{slide.node.video_url}}" type="video/mp4">
                    </video>
                  </ng-template>
                </ng-container>
              </ng-container>
            </owl-carousel-o>
          </div>


        </ng-container>
        <ng-template #singleCard>
          <video *ngIf="post.data.is_video" controls="controls" poster="{{post.data.display_url}}" preload="none" width="480">
            <source src="{{post.data.video_url}}" type="video/mp4">
          </video>

          <img *ngIf="!post.data.is_video" src="{{post.data.display_url}}" width="480">
        </ng-template>
      </div>
      <div class="col start">
        <div class="row">
          <a [routerLink]="['../../user', post.data.owner.username]">
            <img src="{{post.data.owner.profile_pic_url}}" class="userpic" height="60" width="60">
          </a>
          <div>
            <h1>
              <a [routerLink]="['../../user', post.data.owner.username]">
                {{post.data.owner.username}}
                <span class="verification" *ngIf="post.data.owner.is_verified"> ** </span>
              </a>
            </h1>
            <h4 *ngIf="post.data.location">
              <a [routerLink]="['../../locations', post.data.location.id]">{{post.data?.location.name}}</a>
            </h4>
          </div>
        </div>
        <div class="space-top backaccent">
          <h4>{{post.data.taken_at_timestamp | date: 'dd.MM.yyyy HH:mm'}}</h4>
          <p>{{post.data.edge_media_to_caption.edges[0]?.node.text}}</p>
          <div class="row rating">
            <span><mat-icon>favorite</mat-icon>
              {{(+post.data.edge_media_preview_like.count).toLocaleString('ru-RU')}}</span>
            <span><mat-icon>chat</mat-icon>
              {{(+post.data.edge_media_to_parent_comment.count).toLocaleString('ru-RU')}}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="space-top">

      <app-toolbar-comments></app-toolbar-comments>

      <container-element [ngSwitch]="post.viewType">
        <app-comments-list *ngSwitchCase="'comments-list'"></app-comments-list>
        <app-editor *ngSwitchCase="'editor'" [type]="'comments'"></app-editor>
        <app-table-comments *ngSwitchDefault></app-table-comments>
      </container-element>

      <button *ngIf="!post.isLoadNow && post.data.edge_media_to_parent_comment.page_info.has_next_page"
              mat-stroked-button class="more-button" color="primary"
              (click)="onLoad(post.data.shortcode, post.data.edge_media_to_parent_comment.page_info)">
        <mat-icon>add</mat-icon>
        Загрузить еще
      </button>

    </div>

    <div *ngIf="post.data.comments_disabled" class="row comments-disabled">
      <mat-icon>speaker_notes_off</mat-icon>
      <h2>Комментарии отключены</h2>
    </div>

  </div>
</ng-container>
