<ng-container *ngIf="postPage$ | async as post">
  <div *ngIf="post.data.shortcode" class="col">
    <div class="row">
      <div class="start space-right">
        <img src="{{post.data.display_resources[0].src}}" width="480">
      </div>
      <div class="col start">
        <div class="row">
          <a [routerLink]="['../../user', post.data.owner.username]">
            <img src="{{post.data.owner.profile_pic_url}}" class="userpic" height="60" width="60">
          </a>
          <div>
            <h1>
              <a [routerLink]="['../../user', post.data.owner.username]">
                {{post.data.owner.username}}
                <span class="verification" *ngIf="post.data.owner.is_verified"> ** </span>
              </a>
            </h1>
            <h4 *ngIf="post.data.location">{{post.data?.location.name}}</h4>
          </div>
        </div>
        <div class="space-top backaccent">
          <h4>{{post.data.taken_at_timestamp | date: 'dd.MM.yyyy HH:mm'}}</h4>
          <p>{{post.data.edge_media_to_caption.edges[0].node.text}}</p>
          <div class="row rating">
            <span><mat-icon>favorite</mat-icon>{{(+post.data.edge_media_preview_like.count).toLocaleString('ru-RU')}}</span>
            <span><mat-icon>chat</mat-icon>{{(+post.data.edge_media_to_parent_comment.count).toLocaleString('ru-RU')}}</span>
          </div>
        </div>
      </div>
    </div>

    <div>

      <!--      <app-toolbar></app-toolbar>-->

      <container-element [ngSwitch]="post.viewType">
        <app-comments-list *ngSwitchCase="'comments-list'"></app-comments-list>
        <app-editor *ngSwitchCase="'editor'"></app-editor>
        <!--        <app-table-comments *ngSwitchDefault></app-table-comments>-->
      </container-element>

      <!--      <button *ngIf="!post.isLoadNow && post.data.edge_media_to_parent_comment.page_info.has_next_page" mat-stroked-button class="more-button" color="primary" (click)="onLoad(user.data.id, user.data.edge_owner_to_timeline_media.page_info)">-->
      <!--        <mat-icon>add</mat-icon>-->
      <!--        Загрузить еще-->
      <!--      </button>-->

    </div>
  </div>
</ng-container>
