<div class="col-center">
  <section class="col-center h66">
    <img src="assets/home/logo_triangle.png" width="400" height="112" class="logo">
  </section>

  <section class="home-accent h33">
    <mat-icon>search</mat-icon>
    <div class="col">
      <h1>Для чего нужен сервис Triangle?</h1>
      <p>Узнай все что тебе интересно, легко и за пару кликов. Вот, что интересного узнали мы...</p>
    </div>
  </section>

  <section class="row-center h66">
    <div class="space-right">
      <div class="username row-center">
        <img src="assets/home/realdonaldtrump.jpg" width="40" height="40">
        <h3>realdonaldtrump <mat-icon>verified</mat-icon></h3>
      </div>
      <a href="https://www.instagram.com/p/BaMsximAkh5/" target="_blank"><img src="assets/home/trump_most_comments.jpg" width="320" height="320"></a>
      <h2><mat-icon>chat</mat-icon> 3 847 604 комментария</h2>
    </div>
    <div class="col space-left">
      <h1>Самый комментируемый пост Дональда Трампа</h1>
      <p>В нем говориться о том что президент США выступил с речью 13 октября 2017 года, объявляющей результаты стратегического пересмотра политики в отношении Ирана. И это была пятница.</p>

    </div>
  </section>

  <section class="col-center space-top h100">
    <h1>Долгожданный реванш?</h1>
    <p>Первый пост в ленте Конора против первого поста Хабиба. Благодаря Triangle, мы нашли их всего за пару минут. Кстати, под этими постами все еще оставляют комментарии! У Хабиба сегодня нашлось трое таких преданных фанатов, а у Конера только двое. К сожалению они еще не знают о Triangle, так что у них на это видимо ушло куча времени. За то ты теперь знаешь, так что можешь присоединиться к нашему челленджу и оставить под первым постом того кто тебе больше нравится комментарий с хештегом <a href="/tags/trianglechallenge" target="_blank">#TriangleChallenge</a>.</p>
    <div class="row space-top">
      <div class="space-right">
        <div class="username row-center">
          <img src="assets/home/thenotoriousmma.jpg" width="40" height="40">
          <h3>thenotoriousmma <mat-icon>verified</mat-icon></h3>
        </div>
        <a href="https://www.instagram.com/p/asilgQLzkX/" target="_blank"><img src="assets/home/thenotoriousmma_first.jpg" width="320" height="320"></a>
        <h2><mat-icon>query_builder</mat-icon>18 июня 2013 год</h2>
      </div>

      <img src="assets/home/vs.png" width="200" height="200">

      <div class="space-left">
        <div class="username row-center">
          <img src="assets/home/khabib_nurmagomedov.jpg" width="40" height="40">
          <h3>khabib_nurmagomedov <mat-icon>verified</mat-icon></h3>
        </div>
        <a href="https://www.instagram.com/p/TdcHXAP9w3/" target="_blank"><img src="assets/home/khabib_nurmagomedov_first.jpg" width="320" height="320"></a>
        <h2><mat-icon>query_builder</mat-icon>20 декабря 2012 год</h2>
      </div>
    </div>
  </section>



  <section class="space-top home-accent">
    <div class="wrapper row-center ">
      <div class="col space-right">
        <h1>Самый не популярный пост Дмитрия Анатольевича</h1>
        <p>Сложно сказать в чем причина, возможно неудачно подобрана рамочка, но вы держистесь, Дмитрий Анатольевич. Всего вам доброго и хорошего настроения.</p>
      </div>
      <div class="space-left">
        <div class="username row-center">
          <img src="assets/home/damedvedev.jpg" width="40" height="40">
          <h3>damedvedev <mat-icon>verified</mat-icon></h3>
        </div>
        <a href="https://www.instagram.com/p/K0Bn_tA_Ed/" target="_blank"><img src="assets/home/damedvedev_not_likes.jpg" width="320" height="320"></a>
        <h2><mat-icon>favorite_border</mat-icon> 1 824 лайков</h2>
      </div>
    </div>
  </section>

  <section class="col-center">
    <h1>И еще много чего интересного</h1>
    <p>Но Triangle - это не только иструмент для веселых подборок и топов, но и сервис для серьезной аналитики и сбора данных, который помогает специалистам по SMM и маркетологам, следить за активностью, подбирать высоцелевую таргетированную аудиторию, оценивать реальную динамику и лояльность аудитории блогеров и многое другое. Каждый день наши алгоритмы становятся умнее и совсем скоро мы откроем новые и еще более крутые инструменты для настоящих профессионалов.</p>
    <div class="space-top">
      <img src="assets/home/bloger_analytics.jpg" width="787" height="151">
    </div>
  </section>


    <div class="wrapper footer space-top">
      <p>© TRIANGLE, 2020</p>
      <p>По вопросам сотруднечества и рекламы - <a href="mailto:triangletargetlogic@gmail.com">triangletargetlogic@gmail.com</a></p>
    </div>

</div>

