<div class="row widget-user" *ngIf="analytics.posts > 0">
  <div class="col-center start space-right">
    <mat-icon>favorite</mat-icon>
    <h2>{{(analytics.allLikes / analytics.posts).toLocaleString('ru-RU', {maximumFractionDigits: 0})}} <span
      *ngIf="analytics.followers > 0" class="rate" matTooltip="Процент от общего числа подписчиков"
      matTooltipPosition="right">{{((analytics.allLikes / analytics.posts * 100) / analytics.followers).toLocaleString('ru-RU', {maximumFractionDigits: 2})}}
      %</span></h2>
    <span>в среднем за пост</span>
    <h3>{{(+analytics.allLikes).toLocaleString('ru-RU')}}</h3>
    <span>лайков всего</span>
  </div>
  <div class="col-center start space-right">
    <mat-icon>chat</mat-icon>
    <h2>{{(analytics.allComments / analytics.posts).toLocaleString('ru-RU', {maximumFractionDigits: 0})}} <span
      *ngIf="analytics.followers > 0" class="rate" matTooltip="Процент от общего числа подписчиков"
      matTooltipPosition="right">{{((analytics.allComments / analytics.posts * 100) / analytics.followers).toLocaleString('ru-RU', {maximumFractionDigits: 2})}}
      %</span></h2>
    <span>в среднем за пост</span>
    <h3>{{(+analytics.allComments).toLocaleString('ru-RU')}}</h3>
    <span>комментариев всего</span>
  </div>
  <div class="col-center space-right start">
    <div *ngIf="analytics.video > 0" class="col-center">
      <mat-icon>visibility</mat-icon>
      <h2>{{(analytics.allViews / analytics.video).toLocaleString('ru-RU', {maximumFractionDigits: 0})}} <span
        *ngIf="analytics.followers > 0" class="rate" matTooltip="Процент от общего числа подписчиков"
        matTooltipPosition="right">{{((analytics.allViews / analytics.video * 100) / analytics.followers).toLocaleString('ru-RU', {maximumFractionDigits: 2})}}
        %</span></h2>
      <span>в среднем на видео</span>
    </div>
    <div class="row new-count">
      <mat-icon>image</mat-icon>
      <div class="col">
        <div class="row-center" matTooltip="Новых постов за неделю" matTooltipPosition="right">
          <h4>+{{(+analytics.postsWeek).toLocaleString('ru-RU')}} </h4>
          <span> за неделю</span>
        </div>
        <div class="row-center" matTooltip="Новых постов за месяц" matTooltipPosition="right">
          <h4>+{{(+analytics.postsMonth).toLocaleString('ru-RU')}} </h4>
          <span> за месяц</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <canvas baseChart
            [datasets]="chartData"
            [labels]="chartLabels"
            [options]="chartOptions"
            [legend]="chartLegend"
            [chartType]="chartType"></canvas>

  </div>
</div>
