<div class="toolbar">
  <div class="toolbar_left">
    <mat-button-toggle-group value="table-posts">
      <mat-button-toggle (change)="onChange($event.value)" value="gallery" aria-label="Gallery">
        <mat-icon>insert_photo</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle (change)="onChange($event.value)" value="table-posts" aria-label="Table">
        <mat-icon>view_list</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle (change)="onChange($event.value)" value="editor" aria-label="Editor">
        <mat-icon>format_align_justify</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>

    <mat-button-toggle value="filter" aria-label="Gallery">
      <mat-icon>tune</mat-icon> <!--filter_list-->
    </mat-button-toggle>
  </div>

  <button mat-raised-button color="primary">
    <mat-icon>cloud_upload</mat-icon>
    Загрузить все
  </button>
</div>
