ul {
  list-style-type: none;
  padding: 0;
}
h3 {
  margin-bottom: 0;
  line-height: 1;
  margin-right: 8px;
  a {
    font-weight: 600;
    color: #000000;
  }
}
h5 {
  color: #999999;
  margin-bottom: 2px;
}
.rating {
  color: #999999;
}
.mat-icon {
  font-size: 0.9rem;
  height: 10px;
  width: 16px;
}
.backlight {
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px 16px;
}
.verification {
  background-repeat: no-repeat;
  text-indent: 110%;
  overflow: hidden;
  color: transparent;
  background-image: url("/assets/verification_small.png");
  font-size: 0.9rem;
  margin-left: 2px;
}
