.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: -5px;
  &__item {
    margin: 5px;
    overflow: hidden;
    align-items: center;
    display: flex;
    width: calc(8.33% - 10px);
    box-sizing: border-box;
    border-radius: 8px;
    img {
      width: 100%;
      height: auto;
    }
  }
}

@media screen and (max-width: 1400px) {
  .gallery {
    &__item {
      width: calc(12.5% - 10px);
    }
  }
}


@media screen and (max-width: 800px) {
  .gallery {
    &__item {
      width: calc(25% - 10px);
    }
  }
}
